

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        

        <script src="../assets/js/jqueryCDN.js"></script>
        <title>Document</title>
    </head>
    <body>
        
        <p id="text1"><b>I am keyur</b></p>
        
        <p id="text2"> keyur</p>
        
        <button id="change">click here to see</button>
        
        
        <div id="img1"></div>


        <p id="text3"></p>

        <button id="add1">plus 1</button>
        <button id="sub1">minus 1</button>

        
        <script src="../assets/js/jquery.js"></script>
    </body>
</html>